uvicorn
fastapi
pandas
numpy
json
requests
http.client
urllib.parse
pdfminer.six
pdfminer.high_level
extract_text
pickle
transformers
nltk
nltk.tokenize
nltk.corpus
nltk.stem
string
openai
langchain>=0.0.200
openai>=0.27.0
pdfminer.six>=20221105

