uvicorn
fastapi
pandas
numpy
json
requests
http.client
urllib.parse
pdfminer.six
pdfminer.high_level
extract_text
pickle
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string
